/* Background Image */

div {
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
    text-align: center;
}

#cover {
    background-image: url(/CSS/CSS_Learning/Photos/cat_image.jpeg);
    background-size: cover;
}

#contain {
    background-image: url(/CSS/CSS_Learning/Photos/cat_image.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}

#auto {
    background-image: url(/CSS/CSS_Learning/Photos/cat_image.jpeg);
    background-size: auto;
}